@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 16px;
}

:root {
    --primary: #ecf009;
    --secondary: #b43a02;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}


.logo {
    width: 250px;
    
}

.modal-mainDiv, .model-firstDiv {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.model-firstDiv {
    background: rgba(49,49,49,0.8);
}

.model-secDiv {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 800px;
    min-width: 500px;
}

input {
    border-radius: 8px;
    border: 2px solid #dddfe2;
    outline: none;
    color: #1d2129;
    // margin: 0.5rem 0;
    padding: 0.5rem 0.75rem;
    width: 95%;
    font-size: 1rem;
    margin-top: 13px;
}

.subDiv {
    gap: 20px;
}

.male-col {
    background-color: #dddfe2;
    gap: 20px;
    height: 240px;
}